.join-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
}

.join-inner{
    background-color:white;
    width: 30%;
    margin: auto;
}

.join-input{
    border-radius: 20px;
    outline: 0;
    border: 0 none;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    padding: 10px 15px;
    width: 65%;
    margin: auto;
}

.join-header{
    color: gray;
    font-size: 20px;
    padding-bottom: 10px;
}

.join-inner button{
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background:#A59BFA;
    padding: 15px;
    border-radius: 25px;
    display: inline-block;
    border: none;
    width: 45%;    
    font-size: 12px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.illust{    
    background-color: #A59BFA;
    padding: 30px; 
}

.illust img{
    width: 50%;
}

button:focus {
    outline: 0;
}

.formup{
    padding: 30px 50px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .join-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        margin: auto;
    }
  
    .join-inner {
        width: 80%;
    }
    .join-input{
        width: 80%;
        font-size: 12px;
    }
    .formup{
        padding: 30px;
    }
}